$color1: #31475e
$colorparagrafo: #6a7c92
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif

body
    overflow-x: hidden

.container
    max-width: 1280px
    padding: 0 2%
    margin: 0 auto

.clear
    clear: both

// Header do meu site
header
    background-image: url('../images/bg.jpg')
    min-height: 450px
    padding: 30px 0
    background-size: cover
    background-position: center

.logo 
    background-image: url('../images/logo.png')
    background-size: 100% 100%
    position: relative
    z-index: 1
    float: left
    width: 132px
    height: 20px


li.btn-nav
    padding: 3px 8px
    border-radius: 20px
    border: 1px solid white

nav.desktop
    float: right

    ul
        list-style-type: none
    li
        display: inline-block
        margin: 0 15px
    a
        text-decoration: none
        color: white

nav.mobile
    display: none
    float: right

    h3
        z-index: 1
        color: white
        cursor: pointer
        font-size: 30px
        position: relative

    ul
        position: absolute
        left: 0
        top: 0
        width: 100%
        padding: 70px 0 30px 0
        display: none
        background: #31475e
        text-align: center
    li
        padding: 10px 0
    li.btn-nav
        display: inline-block
        padding: 4px 10px
    a
        display: block
        color: white
        text-decoration: none    

div
    .chamada-header
        padding: 110px 0
        h2
            font-size: 47px
            color: white
            font-weight: normal
        p
            font-size: 17px
            color: white
            font-weight: normal
            margin-top: 10px
            max-width: 600px
        form
            margin-top: 10px
        input[type=email]
            display: inline-block
            border-radius: 100px
            background: white
            width: 237px
            height: 40px
            border: 0
            padding-left: 10px
            &:focus
                outline: 0
        input[type=submit]
            width: 181px
            height: 43px
            border: 0
            color: white
            font-size: 16px
            cursor: pointerr
            border-radius: 100px
            background-color: #ff5f27

section.descricao-danki
        text-align: center
        padding: 30px 0
        p
            display: inline-block
            max-width: 680px
            font-weight: lighter
            font-size: 22px
            font-style: italic

section.descricao-danki2
    padding: 50px 0
    .container
        max-width: 960px

    .texto-descricao
        padding: 0 15px
        float: left
        width: 55%
        h3
            color: $color1
            font-size: 22px
            line-height: 32px
            font-weight: normal
        p
            color: $colorparagrafo
            font-size: 15px
            line-height: 25px
            margin-top: 25px
    img
        float: left
        width: 45%
        max-width: 500px

section.descricao-danki3
    padding: 30px 0 60px 0
    .container
        max-width: 960px
        background-image: url('../images/bg2.jpg')
        background-size: cover
        min-height: 350px
        position: relative
    .box-depoimento
        position: absolute
        left: 50%
        bottom: -20px
        width: 70%
        max-width: 506px
        background: white
        padding: 10px 30px
        box-shadow: 0 8px 20px 0 rgba(224,224 ,224 ,0.5)
        p
            font-size: 18px
            color: $color1
            font-weight: lighter

section.servicos
    padding: 25px 0
    .container
        max-width: 1100px
    .title-servicos
        text-align: center
        h3
            color: $color1
            font-size: 22px
            font-weight: normal
    .flex-servicos
        display: flex
        flex-wrap: wrap
    .box-servico
        border: 10px solid white
        border-radius: 3px
        background-color: #ffffff
        box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.3)
        background: white
        width: 33.3%
        img
            width: 100%
        .box-servico-wraper
            padding: 20px
            h2
                color: $color1
                font-size: 20px
                font-weight: normal
            p
                margin: 8px 0
                line-height: 1.6
                font-weight: lighter
                color: $colorparagrafo
                font-size: 15px
            a
                display: inline-block
                border: 1px solid $colorparagrafo
                color: $colorparagrafo
                text-decoration: none
                padding: 6px 12px 
                border-radius: 20px

section.portifolio
    padding: 20px 0
    background: white

    .container
        max-width: 960px
        padding: 15px 0
        background-color: #f7f7f7

    h2
        text-align: center
        font-weight: normal
        color: $color1

    .empresas
        padding: 0 10px
        margin: 20px 0
        display: flex
        flex-wrap: wrap

        .empresas-single
            display: flex
            align-items: center
            justify-content: center
            border-style: solid
            border-color: #ececec
            border-width: 1px 0 1px 1px
            width: 25%
            padding: 10px 0
            &:last-child
            border: 1px solid #ececec


@media screen and ( max-width: 1024px )
        nav.desktop
            display: none

        nav.mobile
            display: block

        div
            .chamada-header
                text-align: center
                p
                    display: inline-block
                input[type=email]
                    margin-bottom: 10px

        .box-depoimento
            position: absolute
            left: 50%
            top: 50%
            bottom: auto
            transform: translate(-50%,-50%)
            width: 80%
               
@media screen and ( max-width:768px )
    section.descricao-danki2
        .texto-descricao
            width: 100%
            display: block
            float: none
        img
            width: 100%
            display: block
            margin: 0 auto
            float: none
            margin-top: 10px
            max-width: 500px
    
    section.servicos
        .box-servico
            margin: 0 auto
            max-width: 400px
            width: 100%

    section.portifolio
        .empresas
            .empresas-single
                width: 100%
                margin: 15px auto
                max-width: 640px
                border: 1px solid #ececec